[submodule "dependencies/pace"]
	path = dependencies/pace
	url = git@github.com:HubSpot/pace.git
[submodule "dependencies/jscolor"]
	path = dependencies/jscolor
	url = git@github.com:EastDesire/jscolor.git
